
.camera-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding:10%;
  .player {
    display: none;
  }
  .canvas {
    display: none
  }
  .capture-btn {
    margin:10%;
    span{
      font-size: 12px;
      font-weight: bold;
      line-height: 15px;
      text-align: center;
      color: white;
      }
  }
}
